<a href="https://colab.research.google.com/github/saimasharleen/thyroid-dataset/blob/main/thyroidresearch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#connecting Google Drive with Colab
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
import pandas as pd
data = pd.read_csv('/content/gdrive/My Drive/Thyroid cancer/dataset/sick-euthyroid.data')

In [ ]:
#adding the columns name
data.columns = ['class','age', 'sex', 'on_thyroxine', 'query_on_thyroxine', 'on_antithyroid_medication', 'thyroid_surgery', 'query_hypothyroid', 'query_hyperthyroid',
'pregnant', 'sick', 'tumor', 'lithium', 'goitre', 'TSH_measured', 'TSH', 'T3_measured', 'T3', 'TT4_measured', 'TT4', 'T4U_measured', 'T4U', 'FTI_measured', 'FTI', 'TBG_measured', 'TBG']

In [ ]:
data.head()

            class age sex on_thyroxine  ... FTI_measured  FTI TBG_measured TBG
0  sick-euthyroid  45   F            f  ...            y  112            n   ?
1  sick-euthyroid  64   F            f  ...            y  123            n   ?
2  sick-euthyroid  56   M            f  ...            y   99            n   ?
3  sick-euthyroid  78   F            t  ...            y   91            n   ?
4  sick-euthyroid  80   M            f  ...            y  120            n   ?

[5 rows x 26 columns]

In [ ]:
# main libraries
import pandas as pd
import numpy as np
import time
# visual libraries
from matplotlib import pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D 
plt.style.use('ggplot')
# sklearn libraries
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score,matthews_corrcoef,classification_report,roc_curve
from sklearn.externals import joblib
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [ ]:
data.head()

            class age sex on_thyroxine  ... FTI_measured  FTI TBG_measured TBG
0  sick-euthyroid  45   F            f  ...            y  112            n   ?
1  sick-euthyroid  64   F            f  ...            y  123            n   ?
2  sick-euthyroid  56   M            f  ...            y   99            n   ?
3  sick-euthyroid  78   F            t  ...            y   91            n   ?
4  sick-euthyroid  80   M            f  ...            y  120            n   ?

[5 rows x 26 columns]

In [ ]:
# Making a list of missing value types
missing_values = ["?", ""]
data = pd.read_csv('/content/gdrive/My Drive/Thyroid cancer/dataset/sick-euthyroid.data', na_values = missing_values)